html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
i {
  cursor: pointer;
}

.bannerUno {
  background-color: gray;
  height: 70px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconArgProg {
  height: 50px;
}

.icons {
  height: 30px;
}

.socialIcons a {
  text-decoration: none;
}
.divBannerDos {
  margin: 1rem;
  border-radius: 15px;
  background-image: url(../assets/profile/banner.jpg);
  background-repeat: none;
  background-size: cover;
  min-height: 200px;
  width: 95vw;
}

.fa-icon-light {
  color: white;
}
/* 
.bannerDos {
  border-radius: 15px;
  min-width: 90vw;
  height: 200px;
}
 */

.perfilImg {
  position: relative;
  width: 150px;
  margin-top: -100px;
  margin-left: 2rem;
}

.penFotoPerfil {
  position: relative;
  margin-top: 5px;
  margin-left: 160px;
  z-index: 1;
}

/* MAIN */

main {
  padding: 1rem 2rem;
}

h3 {
  color: white;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
  padding: 0.2rem;
}

.acercaDe,
.experiencia,
.educacion,
.skills,
.proyectos {
  border-radius: 15px;
  border: 1px solid gray;
  padding: 1rem;
  margin-bottom: 1rem;
}

.spanText {
  font-weight: bold;
  font-size: 1.1em;
}

/* EXPERIENCIA */
.iconExperiencia {
  font-size: 40px;
}

/* EDUCACION */
.iconEducacion {
  font-size: 40px;
}

/* SKILLS */

/* PROYECTOS  */

/* FOOTER */
.footer {
  background-color: gray;
  height: 150px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
}

.footer p {
  margin: 0.2rem;
}

/* .bodyStyle {
  font-family: 'Lato', 'Ubuntu', sans-serif;
  color: #001e31;
  border: 2px solid #001e31;
  border-radius: 5px;
  margin: 1rem 0;
  width: 90vw;
  margin-left: 4%;
}
.headerStyle {
  background-color: #acafb4;
}

.subtitleStyle {
  background-color: #001e31;
  color: #a2f91d;
  border-radius: 25px;
}

.footerStyle {
  background-color: #001e31;
  color: lightgray;
} */
