.footer {
  background-color: gray;
  height: 150px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
}

.footer p {
  margin: 0.2rem;
}
