<!-- BANNER DOS -->
<div class='divBannerDos position-relative'>
  <i class="fa-icon-light p-2 position-absolute top-0 end-0 fa-solid fa-pencil"></i>
</div>

<!-- FOTO -->
<div class='d-flex justify-content-between'>
  <div class='position-relative divPerfilImg'>
    <i class="penFotoPerfil fa-icon-light position-absolute fa-solid fa-pencil"></i>
    <img class='perfilImg img-fluid' src={{persona.imgPerfil}} alt="Foto de Perfil del Portfolio">
  </div>
  <div class='nombreTitulo'>
    <div class='position-relative'>
      <h1 class='mt-1 me-4 mb-0'>{{nombreApellido()}}</h1>
      <i class="pen position-absolute fa-solid fa-pencil top-0 end-0"></i>
    </div>
    <div class='position-relative'>
      <div class='position-relative'>
        <h5>[ {{persona.titulo}} ]</h5>
        <i class="pen position-absolute top-0 end-0 fa-solid fa-pencil"></i>
      </div>
    </div>

  </div>